/* styles.css */
body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f4f8;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.google-signin-button {
  display: inline-block;
  margin-left: 10px;
}

#userProfile {
  display: flex;
  align-items: center;
}

#userProfile img {
  margin-left: 10px;
}

#userProfile span {
  margin-left: 10px;
}

#userProfile button {
  margin-left: 10px;
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#userProfile button:hover {
  background-color: #003d80;
}

#admin-btn {
  background-color: #0056b3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

#admin-btn:hover {
  background-color: #003d80;
}

#addProductSection {
  margin-top: 20px;
}

#addProductSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#addProductSection label {
  margin: 10px 0;
}

#addProductSection input {
  margin: 5px 0;
  padding: 5px;
  width: 100%;
}

#addProductSection button {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#addProductSection button:hover {
  background-color: #0056b3;
}

#productsSection {
  margin-top: 20px;
}

#productsTable {
  width: 100%;
  border-collapse: collapse;
}

#productsTable th, #productsTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: right;
}

#productsTable th {
  background-color: #007bff;
  color: #fff;
}

#productsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#productsTable tr:hover {
  background-color: #ddd;
}

#productsTable button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#productsTable button:hover {
  background-color: #0056b3;
}

#admin-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#admin-modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}

#admin-modal input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#admin-modal button {
  margin: 10px 0;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#admin-modal button:hover {
  background-color: #0056b3;
}
